.root {
    padding: 3rem 0;
}

.dogs {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.imageWrapper {
    width: fit-content;
    background-color: var(--surface-color-2);
}

.image {
    display: block;
    width: 64rem;
    height: 48rem;
    object-fit: cover;
    opacity: 0.001;
    transition: opacity 0.5s linear;

    &.loaded {
        opacity: 1;
    }
}
