@import 'styles/breakpoints';
@import 'styles/fonts';

.root {
    --kitten-item-width: calc(var(--grid-col-width) * 4 + var(--grid-gap) * 3);
}

.section {
    &:not(:first-child) {
        margin-top: 2rem;
    }
}

.headline {
    padding: 2rem;
}

.carousel1 {
    --carousel-gap: var(--grid-gap);
    --carousel-snap-position: var(--grid-margin);
    --carousel-item-width: var(--kitten-item-width);
    --carousel-autoscroll: 0;
    --carousel-disabled: 1;

    @include large {
        --carousel-disabled: 0;
    }
}

.carousel2 {
    --carousel-gap: var(--grid-gap);
    --carousel-snap-position: var(--grid-margin);
    --carousel-item-width: var(--kitten-item-width);
}

.carousel3 {
    --carousel-gap: calc(var(--grid-gap) * 3);
    --carousel-snap-position: 50%;
}

.itemKittens {
    position: relative;
    width: var(--kitten-item-width);
    padding-bottom: 65%;
    height: 0;

    .imageKittens {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.itemText {
    @include haasBold;
    font-size: 4.6rem;
    letter-spacing: -0.01em;
    line-height: 1.2;
    @include medium {
        font-size: 6.6rem;
    }
    @include large {
        font-size: 11.2rem;
    }
    @include xlarge {
        font-size: 13.2rem;
    }
}
