@import 'styles/breakpoints';
@import 'styles/fonts';

.root {
    --kitten-item-width: calc(var(--grid-col-width) * 4 + var(--grid-gap) * 3);
}

.section {
    &:not(:first-child) {
        margin-top: 2rem;
    }
}

.headline {
    grid-column: 1 / -1;
    padding: 2rem 0;
}

.carouselText {
    --carousel-gap: 0.5ch;
    --carousel-snap-position: 50%;
    --carousel-autoscroll: -0.1;

    @include haasBold;
    font-size: 4.6rem;
    letter-spacing: -0.01em;
    line-height: 1.2;
    @include medium {
        font-size: 8rem;
    }
    @include large {
        font-size: 13rem;
    }
    @include xlarge {
        font-size: 17rem;
    }
}

.carouselKittens {
    --carousel-gap: var(--grid-gap);
    --carousel-snap-position: var(--grid-margin);
    --carousel-item-width: var(--kitten-item-width);
    --carousel-autoscroll: 0;
    --carousel-disabled: 0;

    @include large {
        --carousel-disabled: 0;
    }
}

.itemKittens {
    position: relative;
    width: var(--kitten-item-width);
    padding-bottom: 65%;
    height: 0;

    .imageKittens {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0;

        &.loaded {
            animation: fadeIn 1s linear forwards;
        }
    }
}

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}