@import 'styles/breakpoints';
@import 'styles/fonts';

.body {
    @include haasRoman;
    font-size: 1.4rem;
    line-height: 1.4;
    letter-spacing: 0.01em;

    @include large {
        font-size: 1.6rem;
    }
}
