@import 'styles/breakpoints';
@import 'styles/fonts';

.root {
    --kitten-item-width: calc(var(--grid-col-width) * 4 + var(--grid-gap) * 3);

    --carousel-gap: var(--grid-gap);
    --carousel-item-width: var(--kitten-item-width);
    --carousel-autoscroll: 0;
    --carousel-disabled: 0;
    --carousel-snap-back-threshold: 50;
    --carousel-max-snap-overshoot-velocity: 2;

    // visible items for dot and arrow nav active and disabled states
    --carousel-wrapper-visible-items: 1;

    @include large {
        --carousel-snap-back-threshold: 100;
        --carousel-max-snap-overshoot-velocity: 3;
        --carousel-wrapper-visible-items: 3;
    }

    &.maxWidth {
        overflow: hidden;
        min-height: 100vh;

        @include large {
            --carousel-wrapper-visible-items: 2;
        }
    }
}

.carouselKittens {
    .overflowFade & {
        -webkit-mask-image: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0)
                calc(var(--carousel-snap-position) - var(--grid-margin)),
            rgba(0, 0, 0, 1) var(--carousel-snap-position),
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 1) calc(100% - var(--carousel-snap-position)),
            rgba(0, 0, 0, 0)
                calc(100% - var(--carousel-snap-position) + var(--grid-margin))
        );
    }
}

.section {
    &:not(:first-child) {
        margin-top: 2rem;
    }

    .maxWidth & {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.grid {
    .maxWidth & {
        max-width: 1280px;
    }
}

.headline {
    grid-column: 1 / -1;
    margin: 2rem 0 1rem;
    font-size: 2.4rem;
}

.form {
    grid-column: 1 / -1;
    margin: 1rem 0 2rem;
}

.select {
    font-size: 1.6rem;

    &:not(:first-child) {
        margin-left: 2rem;
    }

    > select {
        padding: 0.3rem 0.5rem;
        width: min-content;
        outline: none;
    }

    > label {
        &:first-child {
            margin-right: 1rem;
        }

        &:last-child {
            margin-left: 0.5rem;
        }
    }
}

.itemKittens {
    display: flex;
    position: relative;
    width: var(--kitten-item-width);
    padding-bottom: 65%;
    height: 0;

    .index {
        position: relative;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 1.5rem;
        font-size: 3rem;
        font-weight: bold;
        z-index: 1;
    }

    .imageKittens {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0;

        &.loaded {
            animation: fadeIn 1s linear forwards;
        }
    }
}

.lines::before,
.lines::after {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #800;
    z-index: -1;
}

.linesMaxWidth::before,
.linesMaxWidth::after {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: rgb(0, 57, 136);
    z-index: -1;
}

.lines {
    width: 100%;

    &::before {
        left: var(--carousel-snap-position);
    }

    &::after {
        right: var(--carousel-snap-position);
    }
}

.labels::before,
.labels::after {
    position: fixed;
    bottom: 5px;
    font-size: 12px;
    color: #c00;
    z-index: -1;
}

.labels {
    &::before {
        content: attr(data-start);
        left: calc(var(--carousel-snap-position) + 7px);
    }

    &::after {
        content: attr(data-start);
        right: calc(var(--carousel-snap-position) + 7px);
    }
}

.carousel {
    position: relative;
    width: 100%;
}

.carouselWrapper {
    position: relative;
    width: 100%;
}

.nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    .maxWidth & {
        max-width: calc(1280px + (var(--grid-margin) * 2));
        left: calc(var(--offset-left) - var(--grid-margin));
    }
}

.arrowNav {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.dotNav {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    transform: translateY(200%);
}

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}
