:root {
    --grid-margin: 20px;
    --grid-gap: 10px;
    --grid-columns: 6;

    --grid-content-width: calc(100vw - var(--grid-margin) * 2);
    --grid-gaps-width: calc((var(--grid-columns) - 1) * var(--grid-gap));
    --grid-cols-width: calc(var(--grid-content-width) - var(--grid-gaps-width));
    --grid-col-width: calc(var(--grid-cols-width) / var(--grid-columns));
}

@media (width >= 768px) {
    :root {
        --grid-margin: 50px;
        --grid-gap: 20px;
    }
}

@media (width >= 1280px) {
    :root {
        --grid-columns: 12;
    }
}

@media (width >= 1920px) {
    :root {
        --grid-margin: 100px;
    }
}

.grid {
    display: grid;
    width: calc(100% - var(--grid-margin) * 2) !important;
    margin-left: var(--grid-margin) !important;
    margin-right: var(--grid-margin) !important;
    grid-gap: 0 var(--grid-gap);
    grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
    grid-template-rows: auto;
}
