@import 'styles/breakpoints';

:root {
    --grid-margin: 20px;
    --grid-gap: 20px;
    --grid-columns: 6;

    --grid-content-width: calc(100vw - var(--grid-margin) * 2);
    --grid-gaps-width: calc((var(--grid-columns) - 1) * var(--grid-gap));
    --grid-cols-width: calc(var(--grid-content-width) - var(--grid-gaps-width));
    --grid-col-width: calc(var(--grid-cols-width) / var(--grid-columns));
}

@include medium {
    :root {
        --grid-margin: 50px;
        --grid-gap: 20px;
    }
}

@include large {
    :root {
        --grid-columns: 12;
    }
}

@include xlarge {
    :root {
        --grid-margin: 100px;
    }
}
