html {
    font-size: 62.5%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    touch-action: pan-y;
}

html,
body,
#__next {
    height: 100%;
}

#__next {
  isolation: isolate;
}

* {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: normal;
    overflow-wrap: break-word;
}

a {
    color: inherit;
}

ul,
ol {
    padding: 0;
    list-style-type: none;
}

button {
    padding: 0;
    border: none;
    color: currentColor;
    background-color: inherit;
    user-select: none;
    cursor: pointer;
}
