:root[data-theme='light'] {
    --text-color: #111;
    --background-color: #fff;
    --surface-color-1: #e4e4e4;
    --surface-color-1-hover: #fff;
    --surface-color-2: #f4f4f4;
    --surface-color-2-hover: #fff;
    --border-color-1: #aaa;
    --border-color-2: #bbb;
}

:root[data-theme='dark'] {
    --text-color: #ddd;
    --background-color: #1a1a1a;
    --surface-color-1: #111;
    --surface-color-1-hover: #0c0c0c;
    --surface-color-2: #171717;
    --surface-color-2-hover: #111;
    --border-color-1: #333;
    --border-color-2: #2c2c2c;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
    transition:
        color 0.15s linear,
        background-color 0.15s linear;
}
