// @import 'styles/vars';
@import 'styles/breakpoints';
@import 'styles/fonts';

.root {
    position: relative;
    width: 100%;
    touch-action: pan-y;
}

.overflowFade {
    position: absolute;
    top: -10%;
    left: 0;
    width: 100%;
    height: 120%;

    pointer-events: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.overflowFadeInnerLeft,
.overflowFadeInnerRight {
    position: absolute;
    background: blue;
    top: 0;
    width: 100%;
    height: 100%;
}

.overflowFadeInnerLeft {
    transform: translateX(-100%);
}

.overflowFadeInnerRight {
    transform: translateX(100%);
}

.overflowFadeInner {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: var(--container-max-width-desktop);
}

.overflowFadeInnerLeftGradient,
.overflowFadeInnerRightGradient {
    position: absolute;
    top: 0;
    width: 0;
    max-width: 30rem;
    height: 100%;
}

.overflowFadeInnerLeftGradient {
    left: 0;
    background: linear-gradient(90deg, blue 0%, rgba(blue, 0) 103.47%);
}

.overflowFadeInnerRightGradient {
    right: 0;
    background: linear-gradient(270deg, blue 0%, rgba(blue, 0) 103.47%);
}

@include medium {
    .overflowFadeInnerLeftGradient,
    .overflowFadeInnerRightGradient {
        width: 6rem;
    }
}

@include large {
    .arrowNav {
        display: flex;
    }

    .overflowFadeInnerLeftGradient,
    .overflowFadeInnerRightGradient {
        width: 8.6rem;
    }
}
