.root:not([class~="disabled"]) {
    display: grid;
    overflow: hidden;

    .item {
        grid-area: 1 / -1;
        width: fit-content;
        transform: translate3d(-1000vw, 0, 0);
        user-select: none;
    }
}
