.root:not([class~="disabled"]) {
    display: grid;
    overflow: hidden;

    .item {
        grid-area: 1 / -1;
        width: fit-content;
        will-change: transform;
        transform: translate3d(-200%, 0, 0);
        user-select: none;

        img {
            pointer-events: none;
        }
    }
}
