.root {
    padding: 2rem;
}

.button {
    padding: 0.5rem 1rem;
    background-color: var(--surface-color);
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;

    &:hover {
        background-color: var(--surface-color-hover);
    }
}

.header {
    position: fixed;
    top: 2rem;
    left: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.intersectingElement {
    width: 20rem;
    height: 20rem;
    margin-top: 200rem;
    background-color: red;
}
