@import 'styles/breakpoints';
@import 'styles/fonts';

.main {
    @include haasRoman;
    font-size: 1.4rem;
    padding-top: var(--header-height);
}

@include medium {
    .main {
        font-size: 1.5rem;
    }
}

@include large {
    .main {
        font-size: 1.6rem;
    }
}
