.root {
    padding: 2rem;
}

.section {
    &:not(:first-of-type) {
        margin-top: 2rem;
    }

    .sectionHeadline {
        margin-bottom: 1rem;
    }
}

.themeButton {
    text-decoration: underline;

    &[disabled] {
        opacity: 0.4;
        cursor: default;
        text-decoration: none;
    }
}
